/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   
   font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
 }

 ::-webkit-scrollbar {
     width: 12px;
 }

  body {
    background-color:rgb(195,245,60);
    margin: 0;
  }

 .content {
   height: 100%;
   
 }

 .map {
   width: 500px;
   height: 500px;
   float: left;
   position: relative;
 }

 .reviews {
   float: left;
 }

 .review-form {
   float: left;
 }

 .bench-index-item {
   border: 1px solid black;
   width: 100%;
   margin-bottom: 5px;
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;
 }

 .bench-index-item img {
   height: 200px;
   max-width: 130px;
 }

 .user-pane {
   display: flex;
   justify-content: center;
 }

 .right-half {
   width: 400px;
   margin-left: 50px;
   margin-top: 40px;
   height: 480px;
   overflow-y: scroll;
   padding: 0 20px 20px 20px;
 }

 .right-half.bench-details {
   display: flex;
   flex-direction: column;
   margin-top: 20px;
 }

 .index-item-info {
   margin: 10px 10px 10px 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .index-item-category {
   font-weight: bold;
 }

 .index-item-copy {
   margin-left: 15px;
 }

 header {
   margin-left: 0%;
   background-color: rgba(255, 255, 255, 1);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 20%);
      
 }

 h1, h2, h3, h4, h5 {
   margin-bottom: 0%;
   margin-top: 0%;
   margin-left: 10px;
 }

 .login-signup > ul {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: 240px;
   list-style: none;
   margin-right: 24px;
 }

 .login-signup > ul a {
  text-decoration: none;
  display: inline-flex;
  font-weight: bold;
  font-size: 19px;
 }
 
 
 .login-button {
   color: black;
   align-items: center;
   box-sizing: border-box;
   display: inline-flex;
   padding: 0px 16px;
   height: 48px;
   border-radius: 24px;
  }
  
  .login-button a:visited {
   color: inherit;
  }

  .login-button a:hover {
   color: rgb(0, 200, 5);
  }

 .signup-button {
   color: black;
   align-items: center;
   box-sizing: border-box;
   display: inline-flex;
   padding: 0px 36px;
   height: 48px;
   min-width: 144px;
   border-radius: 24px;
   background-color: rgb(0, 200, 5);
 }
 .signup-button a:visited {
   color: inherit;
  }

 .signup-button:hover {
    background-color: rgb(0, 185, 5);
  }

 .single-bench-map {
   display: flex;
   flex-direction: column;
 }

 .bench-list {
   padding-left: 0;
   list-style-position: inside;
   margin-top: 0;
 }

 .index-image {
   max-height: 200px;
   max-width: 100px;
 }



 .header-name {
   margin: 7px 0 0 0;

 }


 .header-favorites {
   margin: 4px 0 4px 0;
   font-size: 14px;
 }

 .new-bench-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 50px;
 }

 .new-bench-form {
   display: flex;
   flex-direction: column;
   width: 300px;
   outline: black 1px solid;
   padding: 5px 30px 10px 30px;
 }

 .button-holder {
   display: flex;
   align-items: center;
   flex-direction: column;
 }

 .login-form-container {
   display: flex;
   justify-content: center;
   margin-top: 100px;
 }

 .login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
 }

 .login-input {
   margin-left: 20px;
 }

 .login-form-box {
   outline: 1px solid black;
   padding: 20px;
 }

 .filter {
   font-weight: bold;
 }

 .header-link {
   text-decoration: none;
   color: black;
 }

 hr {
   border-bottom: 1px solid grey;
 }

 .session-submit {
   text-transform: capitalize;
 }
