.chart {
  width: 676px;
  height: 349px;
  border-bottom: 1px solid;
  border-color: rgb(227,233,237);
}

.chartHeader {
  display: flex;
  flex-direction: column;
  height: 95px;
  margin-bottom: 12px;
}

.odoline h1 {
  display: flex;
}

.currentPrice {
  h1 {
    height: 40px;
    display: inline-flex;
    flex-direction: row;
    line-height: 20px;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.333px;
    padding: 2px;
    align-items: center;
  }
}

.priceChanges {
  display: block;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: left;
  width: inherit;
  float: left;
  clear: none; 
  
}

.priceToday {
  padding-top: 2px;
  display: inline-flex;
  flex-direction: row;
  align-items: left;
}

.priceAfterHours {
  padding-top: 2px;
}

.spanNumbers {
  font-weight: 700
}

.grayTag {
  color: rgb(111, 120, 126);
}

.testChart {
  width: inherit;
  height: 196px;
}

.chartPrice {
  width: inherit;
  height: 196px;
}