.search-bar-adjunction {
  width: 480px;
  height: 36px;
}
.search-bar {
  width: 480px;
  height: 36px;
  border: 1px solid rgba(0,0,0,0.06);
  border-radius: 3px;
  // padding: 0px 10px 0px -1px;
}


.search-bar:hover {
  transition: 0.3s;
  box-shadow: 0px 12px 24px rgba(0,0,0,0.04), 0px -6px 24px rgba(0,0,0,0.04);
  border: 1px solid white;
  // padding: 1px 11px 1px -2px;
  border-radius: 3px;
}

.search-field {
  margin-left: auto;
  margin-right: 0;
  height: 34px;
  width: 438px;
  border-radius: inherit;
  border: none;
  outline: none;
  align-items: right;
  text-align: left, center;
  // padding: 0px 12px 0px 2px;
}

.search-dropdown {
  display: contents;
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 40;
}
.search-dropdown > div {
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 40;
}

.search-item {
  border-bottom: 1px solid silver;
  font-weight: 200;
  z-index: 40;
}

.hide-this-button > button {
  display: none;
}